:root {
    --primary-color: #fcd34d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-layer{
    position: relative;
    z-index: 2;
}
.mainContent-bg {
    position: relative;
    display: flex;
    min-height: 100vh;
    align-items: center;
    padding-top: 5rem;
}

.mainContent {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    color: white;
}

/* 主标题 */
.heroTitle {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    animation: fadeInUp 1s ease-out;
    font-size: 3.75rem;
    line-height: 1;
    z-index: 3;
    user-select: none;
}

.highlight {
    color: rgb(253, 224, 71);
}

.cards-content {
    margin-top: 48px;
    gap: 24px;
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
}

/* 时间线内容容器 */
.timeline-content {
    display: flex;
    gap: 1rem;
    min-width: max-content;
    padding: 0 1rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.timeline-box {
    background: #ffffff00;
    border-radius: 8px;
    padding: 1.5rem;
    min-width: 300px;
    flex-shrink: 0;
    width: 78%;
}


/* 响应式处理 - 中等屏幕以上 */
@media (min-width: 768px) {

    .cards-content {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}