.card {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1.5rem;
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 0.75rem;
    backdrop-filter: blur(8px);
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.card-img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    user-select: none;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
    user-select: none;
    /* color: #bae6fd; */
    /* 巧克力色 */
    color: #5C3317;
    /* color: #856363; */
}

.card-text {
    font-size: 0.875rem;
    margin-bottom: 1rem;
    line-height: 1.25;
    user-select: none;
    color: #4F2F4F;
}

.card-button{
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #fde047;
    color: #1f2937;
    border-radius: 0.375rem;
    text-decoration: none;
    margin-top: auto;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #fbbf24;
    }
}
.card-button-text{
    user-select: none;
    list-style: none;
}